*{
  box-sizing: border-box;
}

html, body{
  display: flex;
  flex-direction: column;
  margin: 0;
}

a:visited{
  color: #202D69;
}

navbar{
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height:8vh;
  background-color: #202D69;
  z-index: 5;
}

.logo{
  font-family: 'Montserrat', sans-serif;
  margin: -35px 30px;
  font-size: 30px;
  color: white;
}

.links{
  font-family: 'Montserrat', sans-serif;
  margin: 17px 30px;
}

.links a{
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

.links a:hover{
  margin-right: 20px;
  color: #FF7705;
}

.two:hover ~ hr {
  margin-left: 30%;
  width: 27.5%
}

.three:hover ~ hr {
  margin-left: 66%;
  width: 27.3%
}

.underline {
  height: .25rem;
  width: 21.5%;
  margin: 0;
  background: #AB2849;
  border: none;
  transition: .3s ease-in-out;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #202D69;
}

h1{
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

h3{
  text-align: center;
  color: #FF7705;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

hr{
  background-color: #AB2849;
  height: 5px;
  border: none;
}

.icon-top{
  color: white;
  font-size: 50px;
  margin:0px 15px;
}

.icon-top:hover{
  color: #FF7705;
  transform: scale(1.4);
}

.about, .projects, .contact{
  height: 100vh;
  margin: 0 auto;
}

.anchor {
  padding-top: 12vh;
}

.about, .projects{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #202D69;
  border-bottom: solid #AB2849 5px;
  margin-bottom: 8vh;
}

.about-columns{
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #202D69;
}

.left-column{
  width: 700px;
  margin-right: 7%;
}

.right-column{
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3%;
}

.icon-tech{
  font-size: 76.5px;
  margin: 10px;
}

.icon-tech:hover{
  transform: scale(1.4);
}

.projects-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #202D69;
  border-bottom: solid #AB2849 5px;
}

.project-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
}

.card {
  width: 260px;
  height: 291px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 30px;
  color: #202D69;
}

.card img{
  height: 145px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title{
  display: inline;
  font-family: 'Montserrat', sans-serif;
  border-bottom: solid #AB2849 3px;
}

.card-title a{
  text-decoration: none;
}

.card p{
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 15px 16px;
}

.dot-icon{
  position: relative;
  bottom: 102px;
  left: 240px;
}

.dot-icon:hover {
  cursor: pointer;
}

.topButton{
  bottom: -5px;
}

.hidden{
  display: none;
}

.card-info{
  padding: 0px 16px 15px 16px;
  font-family: 'Montserrat', sans-serif;
}

.card-info h4{
  margin: 0px;
  border-bottom: solid 3px #AB2849;
  font-size: 25px;
  text-align: center
}

.card-info ul{
  padding-left: 18px;
  border-bottom: solid 3px #AB2849;
}

.card-info li{
  padding-bottom: 8px
}

.card-title{
  font-family: 'Montserrat', sans-serif;
  color: #202D69;
}

.card-icon-div{
  display: flex;
  justify-content: space-around;
}

.card-icon{
  font-size: 40px;
  margin-top: -7px;
}
