*{
  font-family: Arial, sans-serif;
}

ol, ul {
  display: flex;
  flex-direction: row;
	list-style: none;
  padding: 0px;
}

li{
  margin: 0px 20px 0px 0px;
}

html, body, header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: grey;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 15pt;
	font-weight: 300 !important;
	letter-spacing: -0.025em;
	line-height: 1.75em;
  margin: 0 auto;
}
